body {
    font-family: 'Ubuntu', sans-serif;
}

#login-form {
    margin-left: 40px;
    margin-top: 40px;
}

/*table {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px;
    width: 100%;
}*/

#post-published {
    text-align: right;
}

#post-author {
    text-align: right;
    margin-top: 35px;
}
