<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <title>Admin dashboard</title>
</head>
<body>
    {% from "_formhelper.html" import render_field %}
    <form method="post" action="">
        {{ render_field(form.post_type) }}
        {{ render_field(form.title) }}
        {{ render_field(form.content) }}
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</body>
</html>
