<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>flaskBlog</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="rows">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <h1>Flask Blog</h1>
                    </div>
                    <div class="col-md-8">
                        <form class="form-inline" id="login-form" role="form" action="" method="post">
                            <input type="email" class="form-control" id="email" placeholder="Your Email">
                            <input type="password" class="form-control" id="pwd" placeholder="Your password">
                            <div class="checkbox">
                                <label><input type="checkbox"> Remember me</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="rows">
                <div class="col-md-9">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-md-3">
                    
                </div>

            </div>
        </div>
    </body>
    </html>
